<header class="content">
  <h3>Economic News</h3>
  <h6>Retriving data from <a href="https://newsapi.org" target="_blank">newsapi.org</a></h6>
</header>

<article class="row" *ngFor="let news of dataSources.articles">
  
  <aside class="col-lg-4 col-md-3">
    <img [src]="news.urlToImage" alt="poster">
  </aside>

  <section class="col-lg-8 col-md-9">
    <header>
      <h5>{{news.title}}</h5>
      <em>By <strong>{{news.author}}</strong> on {{news.publishedAt | date}} </em>
    </header>
    <main>
      {{news.description}}
    </main>
    <footer>
      <a md-raised-button color="primary" [href]="news.url" target="_blank">Read more</a>
    </footer>
  </section>

</article>
